@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root  {
    --blue: hsl(246, 80%, 60%);
    /* work */
    --light_orange: hsl(15, 100%, 70%); 

    /* play */
    --soft_blue: hsl(195, 74%, 62%);

    /* study */
    --light_red: hsl(348, 100%, 68%); 

    /* exercice */
    --lime_green: hsl(145, 58%, 55%);

    /* social */
    --violet: hsl(264, 64%, 52%);

    /* self care */
    --soft_orange: hsl(43, 84%, 65%);


    --very_dark_blue: hsl(226, 43%, 10%);
    --dark_blue: hsl(235, 46%, 20%);
    --desaturated_blue: hsl(235, 45%, 61%);
    --pale_blue: hsl(236, 100%, 87%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: var(--very_dark_blue);
    color: #ffffff;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 25rem;
}

.person {
    width: 100%;
    background-color: var(--dark_blue);    
    border-radius: 1rem;
}

.info {
    background-color: var(--blue);
    border-radius: 1rem;
    padding: 2.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info img {
    width: 5rem;
    border-radius: 50%;
    border: 3px solid #ffffff;
    margin-right: 1rem;
}

.info p {
    font-size: 1.5rem;
}
.info p span {
    font-size: 1rem;
    display: block;
}

.schedule {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.schedule p {
    display: inline-block;
    color: var(--pale_blue);
}

.work {
    background-color: var(--light_orange);
}

.play {
    background-color: var(--soft_blue);
}

.study {
    background-color: var(--light_red);
}

.exercise {
    background-color: var(--lime_green);
}

.social {
    background-color: var(--violet);
}

.self-care {
    background-color: var(--soft_orange);
}

.common-set {
    width: 100%;
    border-radius: 1rem;
    margin-top: 2rem;
}

.bg {
    width: 100%;
    height: 3rem;
    background-position: top right 1rem;
    background-repeat: no-repeat;
    background-size: 16%;
}

.bg-work {
    background-image: url(https://muben88.github.io/frontend-mentor-chanllenges/time-tracking-dashboard/images/icon-work.svg);
}

.bg-play {
    background-image: url(https://muben88.github.io/frontend-mentor-chanllenges/time-tracking-dashboard/images/icon-play.svg);
}

.bg-study {
    background-image: url(https://muben88.github.io/frontend-mentor-chanllenges/time-tracking-dashboard/images/icon-study.svg);
}

.bg-exercise {
    background-image: url(https://muben88.github.io/frontend-mentor-chanllenges/time-tracking-dashboard/images/icon-exercise.svg);
}

.bg-social {
    background-image: url(https://muben88.github.io/frontend-mentor-chanllenges/time-tracking-dashboard/images/icon-social.svg);
}

.bg-self-care {
    background-image: url(https://muben88.github.io/frontend-mentor-chanllenges/time-tracking-dashboard/images/icon-self-care.svg);
}

.details {
    width: 100%;
    background-color: var(--dark_blue);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

.details div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
}

.details div:last-child {
    margin-bottom: 0;
}

.activity-name {
    font-size: 1.2rem;
    font-weight: 600;
}

.hours {
    font-size: 2.2rem;
}

.previous-hrs {
    font-size: 1rem;
    color: var(--pale_blue);
}

.schedule p:hover {
    cursor: pointer;
    color: #ffffff;
    transition: .1s ease-out;
}

.ellipse-icon:hover {
    cursor: pointer;
}

.details:hover {
    cursor: pointer;
    background-color: var(--desaturated_blue);
    transition: .1s ease-out;
}

.active {
    color: #ffffff !important;
}


@media (min-width: 950px) {

    main {
        padding-top: 10rem;
    }

    .container {
        display: inline-grid;
        grid-template-columns: repeat(4, 14rem);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        max-width: 53rem;
    }

    .container div {
        margin-top: 0;
    }

    .person {
        grid-column: 1/2 ;
        grid-row: 1/3 ;
        height: 100%;
    }

    .info {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 2rem !important;
        height: 70%;
    }

    .info img {
        margin-bottom: 2rem;
    }

    .info span {
        font-size: 1rem;
    }

    .info p {
        font-size: 2rem;
    }

    .schedule {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 1rem 2rem;
        height: 30%;
    }

    .schedule p {
        margin-bottom: 1rem;
    }

    .schedule p:last-child {
        margin-bottom: 0;
    }

    .bg {
        height: 2rem;
        background-size: 23%;
    }

    .details .section-desktop {
        align-items: flex-start;
        flex-direction: column;
    }

    .hours {
        margin-bottom: .5rem;
    } 

    .item0 {
        grid-column: 2/3 ;
        grid-row: 1/2 ;
    }

    .item1 {
        grid-column: 3/4 ;
        grid-row: 1/2 ;
    }
    .item2 {
        grid-column: 4/5 ;
        grid-row: 1/2 ;
    }
    .item3 {
        grid-column: 2/3 ;
        grid-row: 2/3 ;
    }
    .item4 {
        grid-column: 3/4 ;
        grid-row: 2/3 ;
    }
    .item5 {
        grid-column: 4/5 ;
        grid-row: 2/3 ;
    }
}
